# === Diretórios e arquivos do build ===
/target/
!.mvn/wrapper/maven-wrapper.jar
/.mvn/

# === Arquivos de log ===
*.log

# === Configurações do IntelliJ IDEA ===
.idea/
*.iml

# === Sistema operacional ===
.DS_Store
Thumbs.db

# === Arquivos temporários ===
*.tmp
*.swp

# === Configurações de ambiente ===
.env

